{% extends "layout.html" %}
    {% block content %}
    <div class="row vh-100">
        <div class="container col-4 d-flex justify-content-center align-items-center">
            <div class="jumbotron margin-jumbo">
                <h1>Text Riddles</h1>
                Here we need to input info about text riddles. How to solve them, what to expect of them, maybe an example with answer.
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <div class="jumbotron margin-jumbo">
                <h1>About Quick Riddle</h1>
                Here we need to input info about our app. Why it was created, purpose of it, difference between available riddles, login info or sth, i dunno.
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <div class="jumbotron margin-jumbo">
                <h1>Math Riddles</h1>
                Here we need to input info about math riddles. How to solve them, what to expect of them, maybe an example with answer.
            </div>
        </div>
    </div>
{% endblock %}