{% extends "layout.html" %} {% block content %}
<h1 class="text-center mtop-025">Pick difficulty</h1>
<div class="mtop-050 d-flex justify-content-center align-items-center">
  <form method="POST" action="/riddle">

  <a href="{{ url_for('riddle') }}"> 
    <button type="submit" name="diff_value" value="low"><h3>Easy</h3></button>
  </a>

  <a href="{{ url_for('riddle') }}">
    <button type="submit" name="diff_value" value="medium"><h3>Medium</h3></button>
  </a>

  <a href="{{ url_for('riddle') }}"> 
    <button type="submit" name="diff_value" value="hard"><h3>Hard</h3></button>
  </a>

  </form>
</div>

{% endblock %}
