{% extends "layout.html" %} {% block content %}
<style>
  table {
    width: 100%; /* Set the table width to fill the available space */
    table-layout: fixed; /* Prevent the table from automatically adjusting column widths */
  }

  td {
    text-align: center; /* Center-align the contents of the table cells */
    padding: 100px; /* Add some padding around the buttons */
  }
</style>
<form method="POST" action="/difficulty">
  <table>
    <tr>
      <td>
        <a href="{{ url_for('difficulty') }}">
          <button type="submit" name="cat_value" value="word_riddle" class="btn-difficulty-xl"><h3>Textual Riddle (english only)</h3></button>
        </a>
      </td>
      <td>
        <a href="{{ url_for('difficulty') }}">
          <button type="submit" name="cat_value" value="math_riddle" class="btn-difficulty-xl"><h3>Math Riddle (polish only)</h3></button>
        </a>
      </td>
    </tr>
  </table>
</form>


{% endblock %}
