{% extends "layout.html" %} {% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
  <form method="POST" action="/difficulty">

  <a href="{{ url_for('difficulty') }}">
    <button type="submit" name="cat_value" value="word_riddle"><h3>Textual Riddle (english only)</h3></button>
  </a>

  <a href="{{ url_for('difficulty') }}">
    <button type="submit" name="cat_value" value="math_riddle"><h3>Math Riddle (polish only)</h3></button>
  </a>

</form>
</div>

{% endblock %}
