{% extends "layout.html" %} {% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
  <a
    type="button"
    class="btn btn-home-xl"
    href="{{ url_for('difficulty') }}"
    onClick="choose_type('textual')"
    ><h3>Textual Riddle (english only)</h3></a
  >
  <a
    type="button"
    class="btn btn-home-xl"
    href="{{ url_for('difficulty') }}"
    onClick="choose_type('math')"
    ><h3>Math Riddle (polish only)</h3></a
  >
</div>

<script type="text/javascript">
  function choose_type(type) {
    const dict_type = { type };
    const stringify = JSON.stringify(dict_type);
    console.log(stringify);
    $.ajax({
      url: "/type_post",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(stringify),
    });
  }
</script>
{% endblock %}
