{% extends "layout.html" %} {% block content %}
<h1 class="text-center mtop-025">Answer the question:</h1>
<div style="text-align: center; margin-left: 25px; margin-right: 25px;">
    <h3>{{quiz_content}}</h3>
    <br>
</div>
<form method="POST" action="/assessment">
    <div style="text-align: center;">
        <input type="text" name="user_answer" size="20" style ="font-size:50px;" autocomplete="off">
    </div>
    <div style="text-align: center; margin-top: 25px;">
        <input type="submit" value="Check the answer" size="20" style ="font-size:50px;" class="btn-difficulty-xl">
    </div>
</form>

{% if is_copyright %}
<div style="text-align: center; margin-top: 5%">
    All rights for those quizes are reserved to <br> Kangourou Sans Frontières and <br> Towarzystwo Upowszechniania Wiedzy i Nauk Matematycznych &copy;
</div>

{% endif %}
{% endblock %}
